<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2></h2>
        <p>{{title_contacts|safe}}</p>
      </div>

      

      <div class="row gy-4">
        {% for contact in contacts %}
        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-map flex-shrink-0"></i>
            <div>
              <h3>{{contact.title}}</h3>
              <p>{{contact.content}}</p>
            </div>
          </div>
        </div><!-- End Info Item -->
        {% endfor %}
        

      </div>
    </div>
  </section><!-- End Contact Section -->

  